
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTLakes-Regular.woff")
  format(woff);
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/TTLakes-Bold.woff")
  format(woff);
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/TTLakes-DemiBold.woff")
  format(woff);
}
@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/TTLakes-Medium.woff")
  format(woff);
}
/* obnulenie */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
ul[class],
ol[class] {
  list-style: none;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
img {
  max-width: 100%;
  display: block;
}
article > * + * {
  margin-top: 1em;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  cursor: pointer;
  border: none;
  background-color: #ffffff00;
  text-decoration: none;
}

/* header------------------------------- */
body{
  background-color:#F8F8F8;;
}
.wrapper{
  min-height: 100%;
  display:flex;
  flex-direction: column;
  padding-right:16px;
  padding-left: 16px;
}
.header{
  background-color: white;
  border-bottom: 1px solid #D9FFF5;
  z-index: 2323;
  max-height: 88px;
  margin-bottom: 24px;
}
.header__container {
  padding-left:16px;
  padding-right:16px;
  width: 100%;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  margin-right:16.73px;
}
.menu{
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.header__logo {
  background-image: url("../images/Group.svg");
  background-repeat: no-repeat;
  width: 96.55px;
  height: 50.81px;
  margin-right:auto;
}
.logo{
  background-image: url("../images/Group.svg");
  background-repeat: no-repeat;
  width: 96.55px;
  height: 50.81px;
}
.header__title {
  display: none;
  font-family: "TT Lakes";
}

.header__call {
  display: none;
}
.call{
  background-image:url("../images/call.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.header__chat {
  display: none;
}
.chat{
  background-image:url("../images/chat.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.header__profile {
  display: none;
}
.profile{
  background-image:url("../images/profile.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.header__repair {
  margin-right:16px;
}
.repair{
  background-image: url("../images/repair.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.header__repair::before{
  content: url("../images/divider.svg") ;
  position: relative;
  top: 2px;
  right: 40px;
}
.check{
  background-image:url("../images/checkstatus.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
/*page-------------------------------- */
.page {
  background-color: #F8F8F8;
}
.page__container{
  display:flex;
  flex-direction: column;
  gap: 24px;
}
.page__service, .service {
  display: flex;
  flex-direction: column;
  flex-wrap:nowrap;
  gap:10px;
}
.service__title {
  font-family:"TT Lakes";
}
.service__title::before{
  content:url("../images/highlight.png");
  position: absolute;
  left: 0px;
  top:115px;
} 
.service__list {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  max-width:100vw;
  font-family:"TT Lakes";
  white-space: nowrap;
}
.service__list::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50;
  right: 0;
  pointer-events: none;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 1) 90%);
  width: 10%;
  height: 4em;
}
.service__repair {
  display: none;
}
.service__check {
  display:none;
}
.repair__repair-text {
  display: none;
}
.check__check-text {
  display: none;
}
.service__list::-webkit-scrollbar {
  width: 0;
}
.service__item{
  color: #7e7e82;
  box-sizing: border-box;
  height: 40px;
  margin-top: 24px;
  margin-right: 16px;
  white-space: nowrap;
  font-family: "TT Lakes", sans-serif;
  padding: 8px;
}
.service__item-button{
  color:inherit;
  margin: 0;
  padding: 0;
}
.service__item--active{
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  align-self:flex-start ;
}
.service__item:not(:last-child) {
  margin-right: 16px;
}
.page__about {
  font-family: "TT Lakes";
  display: flex;
  flex-direction: column;
}
.page__description{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.page__text {
  height: 90px;
  overflow: hidden;
  white-space:pre-wrap;
  width:100%;
  display: block;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-align: start;
}
.page__read-more {
  margin-top: 16px;
  margin-left: 16px;
}
.read-more {
  display: block;
  font-weight: 500;
}
.read-more::before, .page__read-more::before{
  content:url("../images/icon.svg");
  margin-right: 15px;
}
.page__image {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: auto;
}

@media(min-width:768px){
  .header__container{
    padding-left:24px;
    padding-right:24px;
  }
  .wrapper{
    padding-right: 24px;
    padding-left: 24px;
  }
  .page__about{
    flex-direction: row;
    justify-content: space-between;
  }
  .header__menu{
    margin-right: 42.73px;
  }
  .header__logo::before{
    content: url("../images/divider.svg");
    top: 2px;
    right: 70px;
    position: relative;
  }
  .header__call {
    margin-right:16px;
    display: block;
  }
  .header__chat {
    margin-right:16px;
    display: block;
  }
  .header__profile {
    margin-right:42px;
    display: block;
  }
  .page__text{
    min-height: 160px;
  }
  .page__image{
    max-width: 50%;
    padding-top: 0;
    border-radius: 10px;
  }
  .page__description{
    justify-content: flex-start;
    min-width: 312px;
    max-width: 50%;
    margin-right: 40px;
  }
}
@media(min-width:1120px){
  .header__container{
    padding-left:30px;
    padding-right:30px;
  }
  .wrapper{
    padding-right:30px;
    padding-left: 30px;
  }
  .header__menu{
    display:none;
  }
  .header__logo{
    display:none;
  }
  .header__call{
    display:none;
  }
  .header__chat{
    display:none;
  }
  .header__profile{
    display:none;
  }
  .service__title{
    margin-right: auto;
    justify-self: start;
    width:75%
  }
  .service__list{
    flex-wrap: wrap;
  }
  .header__repair::before{
    display: none;
  }
  .service__repair span{
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    position: absolute;
    display: inline;
    white-space: nowrap;
    right: 290px;
    top: 40px;
  }
  .service__check span{
    font-family: "TT Lakes", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    position: absolute;
    display: inline;
    white-space: nowrap;
    right: 90px;
    top: 40px;
  }
  .header{
    display: none;
  }
  .service__repair {
    display:block;
    margin-right:150px;

  }
  .service__check {
    display:block;
  }
  .page__service{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .page__container{
    margin-top:30px
  }
  .service__title::before {
    content:url("../images/highlight.png");
    position: absolute;
    left: 0px;
    top:33px;
  }
}
